<!DOCTYPE html>
<html>
<head>
  <title>QuadView Blog</title>
<link rel="stylesheet" href="/public/css/style.css">

</head>
<body>
  <nav>
    <ul>
      <li><a href="/" id="homepageLink">Homepage</a></li>
      <li><a href="/dashboard" id="dashboardLink">Dashboard</a></li>
      <li><a href="/login" id="login">login</a></li>
    </ul>
  </nav>
{{{body}}}

<script src="/js/index.js"></script>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
  
</body>
</html>
