<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuadView Blog</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  {{>navbar}}

  {{{body}}}

  <footer>
    <p>&copy; {{ year }} QuadView Blog. All rights reserved.</p>
  </footer>

  <!-- Include the main.js script -->
  <script src="../../public/js/index.js"></script>
  {{#if loggedIn}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
</body>
</html>
