<!-- views/dashboard.hbs -->
{{#if loggedIn}}
  <h1>Your Dashboard</h1>
  <ul id="userBlogPosts">
    {{#each blogPosts}}
    <li>
      <a href="/blogs/{{id}}">{{title}}</a>
    </li>
    {{/each}}
  </ul>
  <script src="/js/logout.js"></script>
{{else}}
  <h1>Please Log In to Access Your Dashboard</h1>
  <p><a href="/login">Login</a> or <a href="/signup">Sign up</a> to view your dashboard.</p>
{{/if}}
