<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form" action="/login" method="POST">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" name="email" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" name="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  </div>  
<p>don't have an account? <a href="/sign-up" id="sign-upLink">sign up</a></p>
<script src="../public/js/index.js"></script>