<!-- sign-up.hbs -->
<div class="row justify-space-between-md">
  <div class="signup-card">
    <h2 class="page-title">Sign Up</h2>
    <form class="form signup-form" action="/signup" method="POST">
      <div class="form-group">
        <label for="signupUsername">Username:</label>
        <input class="form-input" type="text" name="username" id="signupUsername" required />
      </div>
      <div class="form-group">
        <label for="signupEmail">Email:</label>
        <input class="form-input" type="email" name="email" id="signupEmail" required />
      </div>
      <div class="form-group">
        <label for="signupPassword">Password:</label>
        <input class="form-input" type="password" name="password" id="signupPassword" required />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
<p>Already have an account? <a href="/login" id="loginLink">Login</a></p>
<script src="../public/js/index.js"></script>
